@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
.content-box .top-content{ }
.content-box .top-content p {color:#fff; font-family: 'Bree Serif'; font-size: 40px; text-align: center; 
display: inline-block; position: relative;left: 420px; top: 50px; border-bottom: 5px solid; }
/* depth2 */
/* 영화표지 */
.content-box .movies{}
.content-box .movies .img{}
.content-box .movies{}

.schedule-box { height: 500px; background: #fff;}
.schedule-box .top-content{ margin: 0 200px;}

.schedule-box .top-content p {color:#000; font-family: 'Bree Serif'; font-size: 40px; text-align: center; 
display: inline-block; position: relative;left: 420px; top: 50px; border-bottom: 5px solid; }

.schedule-box .search { width:400px; height: 50px; border: 5px solid; position: relative; left: 300px; top: 170px; }
.schedule-box .search input { border: none; width: 90%; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;
margin-left: 10px; margin-top: 7px;}
.schedule-box .search input:focus { outline: none;}
.schedule-box a{color:#000;}
.schedule-box a:hover{color:#037b94;}
.schedule-box .search a .fa-search { font-size: 21px; position: relative; top: 8px; left: -7px; }

.schedule-box .btm-line{ width: 230px; height: 10px; position: relative; top: 230px; left: 380px; display: inline-block;
 border-top: 9px solid #000; text-align: center; font-size: 19px; padding-top: 20px; transition:all 0.2s ease-in-out;}


.schedule-box .sch-icon { position: relative; left: 910px; top: 40px; display: inline-block; }
.schedule-box .sch-icon .far { font-size: 80px; }
.schedule-box .btm-line2{ width: 230px; height: 10px; position: relative; top: 160px; left: 760px; display: inline-block; 
 border-top: 9px solid #000; text-align: center; font-size: 19px; padding-top: 20px; transition:all 0.2s ease-in-out;}


.lastcontent-box{ min-height: 500px; }